/* 打字机*/
.typewriter{

    .cursorText {
        animation: Currsor-blinks 0.8s infinite;
        /* 光标闪烁 */
    }
}


@keyframes Currsor-blinks {
    0% {
        opacity: 0.9;
    }

    49.99% {
        opacity: 0.9;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.HighlightText {
    color: #4172c9 !important;
}



