.title-box{
    h2 {
        color: #000;
        font-size: 26px;
        margin-bottom: 2rem;
        text-align: center;
    }

    p{
        color: #000;
        font-size: 16px;
        text-align: center;
    }
}